.emptyState{
    align-items: center;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.background{
    position: absolute;
    // margin-top: 5%;
}

.emptyText{
    display: flex;
    flex-direction: column;
    width: 352;
height: 68;
max-width: 352px;
gap: 24px;
position: absolute;
top: 60%;
}

.headerText{
font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #101828;
}

.descText{
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #475467;
}