.ellipsis {
    rotate: 90deg;
    cursor: pointer;
}

.headerfont {
    font-size: 0.75rem;
}

.contentfont {
    font-size: 0.875rem;
}

.vehicleNameNumber {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}