.editButton {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.deleteBtn {
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.deleteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background: #fee4e2;
}
