.editButton {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.deleteBtn {
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.deleteContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background: #fee4e2;
}

.status {
  border-radius: 9999px;
  height: 22px;
  width: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 2px 8px 2px 6px;
  border: 1px solid #fecdca;
  background: #fef3f2;

  &.enabled {
    width: 65px;
    border: 1px solid #abefc6;
    background: #ecfdf3;
  }

  .text {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #B42318;

    &.enabled {
      color: #067647;
    }
  }
}
